<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>808525724166-7tf0fibod8ho983i78racj2lb3g0h8mk.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.808525724166-7tf0fibod8ho983i78racj2lb3g0h8mk</string>
	<key>API_KEY</key>
	<string>AIzaSyAOJ--UylnywkDWPg7xdsvLaZY5Bu7IQ6M</string>
	<key>GCM_SENDER_ID</key>
	<string>808525724166</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.test.maptest.maptest02</string>
	<key>PROJECT_ID</key>
	<string>maptest02-9410b</string>
	<key>STORAGE_BUCKET</key>
	<string>maptest02-9410b.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:808525724166:ios:db3124d3fecf9811e32187</string>
</dict>
</plist>